# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.db

# Virtual environments
venv/
.env/

#excel files
ignore
ignore/
Print1.xlsx
Print2.xlsx
Print3.xlsx
print4.xlsx
Print5.xlsx
Print6.xlsx
Print7.xlsx
Print8.xlsx
Print9.xlsx
Print10.xlsx
